src/*.exe
src/incakoin
src/IncaKoind
src/test_incakoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.incakoin

# Compilation and Qt preprocessor part
*.qm
Makefile
IncaKoin-qt
IncaKoin-Qt.app

# Unit-tests
Makefile.test
incakoin-qt_test
incakoin-qt_plugin_import.cpp

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
